@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html, body, #__next, main {
  background-color: #000 !important;
  cursor: url('https://abs.twimg.com/emoji/v2/72x72/2728.png'), auto !important;
}

body {
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@keyframes marquee {
  0% { transform: translateX(100vw); }
  100% { transform: translateX(-100vw); }
}

.animate-marquee {
  display: inline-block;
  animation: marquee 1s linear infinite;
}

@keyframes marquee-seamless {
  0% { transform: translateX(0); }
  100% { transform: translateX(-50%); }
}

.animate-marquee-seamless {
  animation: marquee-seamless 1s linear infinite;
}

.countdown-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  margin-bottom: 30px;
  padding: 0 10px;
  max-width: 100%;
  box-sizing: border-box;
  width: 100%;
}
@media (max-width: 768px) {
  .countdown-grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Comic Sans MS', 'Comic Sans' !important;
}
